html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* Apply CSS styles to the body and container div */
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* Style the left and right divs */
.left-div {
  flex: 0 0 30%;
  /* Take up 30% of the available space */
  background-color: #ffffff;
}

.right-div {
  flex: 0 0 70%;
  margin: 0px;
  padding: 0px;
  /* Take up 70% of the available space */
}